*{
    padding: 0;
    margin: 0;
    background-color: black;
    color: rgba(230, 240, 229, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
/* Main page */
.instagram{
    height: 100vh;
    width:100%;
    display: flex;
    
}
#logo {
    font-family: "lobster", cursive;
    font-size: 20px;
}
/* left bar */
.left_bar {
    width:20%;
    height:100vh;
    /*background-color: blue;*/
    border-right: 2px solid #504949;
}
/* post section */
.post {
    width:55%;
    height: 100vh;
   /* background-color: yellow;*/
}


.left_bar .items .material-symbols-outlined {
  margin-right: 12px;
  font-size: 27px;
}

.left_bar .items {
    display :flex;
    text-align: center;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    margin: 6px;
    
}
.post .story .items {
    display : flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    font-size: 12px;
    font-weight: 200;
}
.post .story .items .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post .story .items .profile .img {
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    background-image: conic-gradient( #feda75 , #fa7e1e , #d62976 , #962fbf , #4f5bd5 , #feda75);
    
}
.post .story .items .profile .img img{
    height: 60px;
    width: 60px;
    object-fit:cover;
    border-radius:50%;
    display :block;
    padding: 3px;
    padding: 3px;

}
.post .story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.post .main_post{
    height: 75vh;
    width: 70%;
    margin: auto;
    
}
.post .main_post .profile {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.post .main_post .profile img{
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    background-image: conic-gradient( #feda75 , #fa7e1e , #d62976 , #962fbf , #4f5bd5 , #feda75);

}
.post .main_post .img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.post .main_post .img img{
    height: auto;
    width: 100%;
     border-radius: 10px;

    }
.post .main_post .engagement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.post .main_post .engagement .material-symbols-outlined {
    font-size: 1.8rem;
}
.post .main_post .engagement .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Suggestion section*/
.suggestion_section {
    width:35%;
    height:100vh;
    /* background-color:red; */
}
.suggestion_section .suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}
.suggestion_section  .profile .img img{
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.suggestion_section  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.suggestion_section .suggestion .follow {
    color: #0095f6;
    font-weight: 500;
}
.suggestion_section .suggestion .profile p{
    color: #bcbab7;

}
.suggestion_section .suggestion .see{
    color:white;

}
.m{
    margin-top: 40px;
}